extends layout

block header
    
block content
    h2 Frequently Asked Questions
    li 
      b Where do the questions come from?
    | Wikipedia 
    a(href='http://www.wikipedia.org') (link)
    br
    li 
      b How is this project done?
    | Do you know DbPedia? 
    a(href='http://www.dbpedia.org') (link)
    br
    li 
      b Is the SPARQL API involved?
    | It surely is!
    br
    li 
      b Is there any further processing of the Wikipedia data?
    | No, data are as "raw" as they seem.
    br
    li 
      b What technology do you use for the Game Room?
    | Have you heard about the Java Server Side Scripting Frameworks?
    br
    li 
      b Is Socket.IO programming also involved?
    | It surely is!
    br
    li 
      b Is there a database beneath?
    | Yes, but do not expect a relational one.
    br
    li 
      b How can I play the game?
    | It is not that hard but feel free to visit our help page.
    br
    li 
      b What are your next plans?
    | We will soon inform, they are quite exciting ones.