extends ../layout

block header

block content
    h1 Version updates
    hr
    b
      p Version 0.7.1
    li Solved multiplayer game creation bug.
    li Solved multiplayer name bug.
    br
    b
      p Version 0.7
    li Added Single Player functionality.
    li Added leaderboard option for different game types.
    li Leaderboard ascending order bug solved.
    br
    b
      p Version 0.6
    li Added ascending order for leaderboard
    li Added greeting message for games(User logged in etc.)
    li Added user name and password edit page(Account page)
    li Layout rearranged.
    li Added new game rooms and categories.
    li Date view in leaderboard is reformatted.
    br
    b
      p Version 0.5.1
    li Added the user authentication requirement for leaderboard page.
    br      
    b
      p Version 0.5
    li Multiplayer game rooms are set to be ready.
    li FAQ and Contact Us page is added.
    li Added Leaderboard functionality.